site_name: LLM Workshop
repo_url: https://github.com/UPPMAX/LLM-workshop

nav:
  - "Start": index.md
  - "Course dates": course_dates.md
  - "Schedule": schedule.md
  - "Glossary": glossary.md
  # - Day 1:
  #   - Introduction: day1/introduction.md
  #   - Publicly available LLMs: day1/public_llms.md
  #   - Accessing LLM: day1/access_llm.md
  #   - LLM and hardware: day1/llm_hardware.md
  #   - LLM formats: day1/llm_formats.md
  # - Day 2:
  #   - Data Pipelines: day2/data_pipelines.md
  #   - RAG: day2/rag.md
  # - Day 3:
  #   - Prompt Engineering: day3/prompt_engineering.md
  #   - Tools and Reasoning: day3/tools.md
  #   - Post-training: day3/post_training.md
  #   - Hyperparameter tuning: day3/hyperparameter_tuning.md
  #   - Evaluating LLMs: day3/evaluation_metrics.md

theme:
  name: material
  greetings: Welcome to this NAISS course template
  font:
    text: Lato
    code: JetBrains Mono
  logo: logo/naiss_logo_white.png
  palette:
    primary: indigo
  icon: 
    annotation: material/plus-circle

  features:
    - toc.integrate
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.path
    - navigation.footer
    - navigation.expand
    - search.suggest
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.tabs.link
    - content.action.edit
    - content.action.view
    - content.footnote.tooltips

plugins:
  - mkdocs-jupyter:
      include_requirejs: true
      custom_mathjax_url: "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-AMS_CHTML-full,Safe"

markdown_extensions:
  - toc:
      toc_depth: 2
      permalink: true
      permalink_title: Anchor link to this section for reference
  - admonition
  - tables
  - attr_list
  - footnotes
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      url_download: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.keys
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://www.naiss.se/
      name: NAISS

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
