name: Create website

on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - uses: r-lib/actions/setup-pandoc@v2
        with:
          pandoc-version: '3.1.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt natsort

      - name: Build slides
        run: |
          # Set-up revealjs
          DOC_ROOT="docs"
          SITE_ROOT="/LLM-workshop"
          slides=(
            "${DOC_ROOT}/day1/introduction.md"
            "${DOC_ROOT}/day1/inference.md"
            "${DOC_ROOT}/day1/llm_hardware.md"
            "${DOC_ROOT}/day1/llm_formats.md"
            "${DOC_ROOT}/day2/parallelization_schemes.md"
            "${DOC_ROOT}/day2/multimodal.md"
            "${DOC_ROOT}/day3/tools.md"
            "${DOC_ROOT}/day3/hyperparameter_tuning.md"
            "${DOC_ROOT}/day3/evaluation_metrics.md"
          )
          for f in ${slides[@]};
          do
            pandoc "${f}" -o "${f%.md}-slides.html"\
              -f markdown+link_attributes-implicit_figures \
              --standalone \
              --slide-level=3 \
              --mathjax \
              -t revealjs \
              -V "revealjs-url=https://cdn.jsdelivr.net/npm/reveal.js@5.2.1" \
              -V "theme=white" \
              --css "${SITE_ROOT}/stylesheets/slides.css"
          done
      - name: Deploy website
        run: mkdocs gh-deploy --force
