/* NAISS additions to white theme */
.reveal-viewport {
  background-image: url("/LLM-workshop/logo/naiss_logo_inverted.png");
  background-position: bottom 10px left 10px;
  background-size: 20em;
  background-repeat: no-repeat;
}

.reveal iframe {
  max-width: 65%;
}

.reveal section img {
    background: transparent;
    border: 0;
    box-shadow: none;
}
